service wfdservice /system/bin/wfdservice
    class main
    user system
    group audio camera inet uhid drmrpc media_rw media input net_admin
    #removed these because of limit of 12 groups
    #graphics net_bt net_bt_admin bluetooth
    disabled
    oneshot

on property:vendor.wfdservice=enable
    start wfdservice

on property:vendor.wfdservice=disable
    stop wfdservice
