#
# Copyright (c) 2019-2020 Qualcomm Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.
#
service wfdservice /system_ext/bin/wfdservice
    class main
    user system
    disabled
    oneshot

on property:vendor.wfdservice=enable
    start wfdservice

on property:vendor.wfdservice=disable
    stop wfdservice
